@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637392748398') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanliyuan:before {
  content: "\f00ec";
}

.icon-guanggaozhuhuodongtuiguang:before {
  content: "\f00f4";
}

.icon-shezhi:before {
  content: "\f013e";
}

.icon-suijiyonghu:before {
  content: "\f015a";
}

.icon-wodezichan:before {
  content: "\f0001";
}

.icon-shezhi1:before {
  content: "\f02ed";
}

.icon-shezhi2:before {
  content: "\e62a";
}

.icon-dianhuajianpantianchong:before {
  content: "\e679";
}

.icon-huchudianhuatianchong:before {
  content: "\e680";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-shezhi3:before {
  content: "\f018f";
}

.icon-31shezhi:before {
  content: "\f021b";
}

.icon-shezhi4:before {
  content: "\e74c";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-shouye:before {
  content: "\e622";
}

.icon-xiafapeizhi2:before {
  content: "\e628";
}

.icon-xiafa:before {
  content: "\e60e";
}

.icon-xiafashoulishu:before {
  content: "\e614";
}

.icon-peizhiguanli:before {
  content: "\e63f";
}

.icon-youxiang:before {
  content: "\e604";
}

.icon-youxiang1:before {
  content: "\e605";
}

.icon-shezhi5:before {
  content: "\e8b8";
}

.icon-dianhua:before {
  content: "\e8bd";
}

.icon-yonghu1:before {
  content: "\e8c8";
}

.icon-shezhi6:before {
  content: "\e892";
}

.icon-dizhiguanli:before {
  content: "\e640";
}

.icon-setting-role:before {
  content: "\e60c";
}

.icon-shezhi7:before {
  content: "\e70f";
}

.icon-youxiang2:before {
  content: "\e672";
}

.icon-changjingguanli:before {
  content: "\eb61";
}

.icon-jichuguanli:before {
  content: "\eb63";
}

.icon-jiedianguanli:before {
  content: "\eb64";
}

.icon-yingyongguanli:before {
  content: "\eb67";
}

.icon-jizhanguanli:before {
  content: "\eb69";
}

.icon-icon_shezhi:before {
  content: "\eb8d";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-yunyingguanli:before {
  content: "\ebd1";
}

.icon-fuwuguanli:before {
  content: "\eaca";
}

.icon-guanliyuanrenzheng:before {
  content: "\eacc";
}

.icon-jinrongguanli:before {
  content: "\eb1c";
}

.icon-dianhua1:before {
  content: "\eb23";
}

.icon-fuwuguanli_o:before {
  content: "\eb53";
}

.icon-guanliyuansousuo_o:before {
  content: "\eb56";
}

.icon-kuaidiyuanguanli_o:before {
  content: "\ebc3";
}

.icon-fenzuguanli:before {
  content: "\ec23";
}

.icon-fabubiaoshu:before {
  content: "\e612";
}

.icon-wj-wjxf:before {
  content: "\e770";
}

.icon-woxiafade:before {
  content: "\eb2b";
}

.icon-24gf-mailboxFull:before {
  content: "\e964";
}

.icon-24gf-telephone:before {
  content: "\e96c";
}

.icon-24gf-portraitMaleInfo3:before {
  content: "\eb29";
}

.icon-24gf-portraitMalePlus3:before {
  content: "\eb2a";
}

.icon-24gf-portraitMalePlus5:before {
  content: "\eb2c";
}

.icon-youxiang3:before {
  content: "\e631";
}

.icon-gongju:before {
  content: "\e625";
}

.icon-xiafa1:before {
  content: "\e6d0";
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

.icon-dianhua2:before {
  content: "\e8c3";
}

.icon-gongju1:before {
  content: "\e60a";
}

.icon-xiafachufa:before {
  content: "\e60f";
}

.icon-zhucehaoxiafa:before {
  content: "\e626";
}

.icon-xiafa2:before {
  content: "\e629";
}

.icon-renwuyixiafa:before {
  content: "\e63d";
}

.icon-renwuweixiafa:before {
  content: "\e641";
}

.icon-xiafaxinxi:before {
  content: "\e606";
}

.icon-chezaixinxixiafaguanli:before {
  content: "\e60d";
}

.icon-renwuxiafa:before {
  content: "\e71c";
}

.icon-guanjianzixiafa:before {
  content: "\e642";
}

.icon-xiafa3:before {
  content: "\e7d3";
}

.icon-zhiduxiafa:before {
  content: "\e608";
}

.icon-zhijiexiafa:before {
  content: "\e607";
}

.icon-ico_minglingxiafa_xuanzhong:before {
  content: "\e61c";
}

